<div class="row">
  <div class="col-sm-6">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Country Form</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal" [formGroup]="countryForm" (ngSubmit)="onSubmit()">
        <div class="box-body">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="nme" id="inputEmail3" placeholder="Country Name"
                [ngClass]="{'is-invalid': submitted && myForm.nme.errors}">
              <div class="invalid-feedback text-danger" *ngIf="submitted && myForm.nme.errors?.required">
                <sup>*</sup>Please enter country name
              </div>
            </div>

          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <textarea class="form-control" rows="3" formControlName="description" placeholder="Enter ..."></textarea>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>
  </div>
  <div class="col-sm-6"></div>

</div>