<section class="content-header">
  <h1>
    Customer Types List
    <small>Preview</small>
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-cogs"></i>Setting</a></li>
    <li><a>Customer Types</a></li>
    <li class="active">Customer Types List</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="box">
      <div class="box-header with-border">
        <!-- <h3 class="box-title">Category List</h3> -->
        <a routerLink="add-cutomer_types" class="btn btn-primary pull-right">Add New Customer Types</a>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table id="example2" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Engine version</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Trident</td>
              <td>Internet
                Explorer 4.0
              </td>
              <td>Win 95+</td>
              <td> 4</td>
              <td>
                <a routerLink="edit-category" class="btn btn-info"><i class="fa fa-pencil"></i></a> &nbsp;
                <a routerLink="edit-category" class="btn btn-danger"><i class="fa fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>Rendering engine</th>
              <th>Browser</th>
              <th>Platform(s)</th>
              <th>Engine version</th>
              <th>CSS grade</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>